@model IEnumerable<ORA.Models.AssessmentVM>

@{
    ViewBag.Title = "ReadAssessments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/SearchEmployeeTable.js"></script>
<link href="~/Content/SearchBarEmployee.css" rel="stylesheet"/>

<h2>Assessments</h2>


<div class="pull-right">@Html.ActionLink("Create New Assessment", "CreateAssessment",null, new { @class = "btn btn-primary"})</div>


<input type="text" id="SearchInput" onkeyup="SearchEmployeeFunction()" placeholder="Search for Employees..">

<p></p>
<table id="EmployeeTable">
    <tr>
        <th>
            Employee Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.AssessmentId)
            <td>
               <span class="glyphicon glyphicon-user"></span> @Html.ActionLink(item.Employee.EmployeeName, "ReadAssessmentByID", "Assessment", new { id = item.AssessmentId }, new { })
            </td>
            @Html.HiddenFor(modelItem => item.EmployeeID)
        </tr>
    }
</table>



