@model IEnumerable<ORA.Models.KPIVM>

@{
    if (Session["Role"].ToString() == "Team Lead")
    {
        ViewBag.Title = "Team KPI Reports";
    }
    else
    {
        ViewBag.Title = "KPI Reports";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/SearchEmployeeTable.js"></script>
<link href="~/Content/SearchBarEmployee.css" rel="stylesheet" />

@*<h2>KPI Reports</h2>*@


<div class="pull-right">@Html.ActionLink("Create New", "CreateKPI",null, new { @class ="btn btn-primary"})</div>

<input type="text" id="SearchInput" onkeyup="SearchEmployeeFunction()" placeholder="Search for Employees..">

<table id="EmployeeTable">
    <tr>
        <th>
            Employee Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.KPIID)
        <tr>
            <td>
                <span class="glyphicon glyphicon-user"></span> @Html.ActionLink(item.Employee.EmployeeName, "ReadKPIByID", "KPI", new { id = item.KPIID }, new { })
            </td>
            @Html.HiddenFor(modelItem => item.EmployeeId)
        </tr>
    }
</table>



